*{
    background-color:rgba(242, 250, 248, 0.973);
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

/*cabeçalho*/

.title{
    padding: 2px;
    margin-left: 10px;
}

header{
    border:1px solid black;
    width: 204vh;
    margin: 2px;
}

header,.principal, .cabeça{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.cabeça{
    font-size: 20px;
    padding:2px;
}

/*Main*/

.empresa{
    display: flex;
    margin: 20px 0px 0px 50px;
    text-align: center;
    background-color: brown;
}

.p-primeiro, .subtitle {
    margin:20px;
    padding: 2px;
}

.subtitle{
    text-align: center;
}

.empresa-topico1{
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin-left: 100px;
    border: none;
    
}

.p-primeiro{
    margin: 2px;
   
}

/*section*/

.grid{
    display: inline-flex;
    border: 1px solid black;
    width: 204vh;
    justify-content:space-around;
    margin: 2px;
    list-style-type:none ;
}
.subtitle-section{
    text-align: center;
    font-size: 22px;
    margin: 20px 0 20px 0;
}

li,p{
    list-style-type:none ;
}

.container {
    position: relative;
    width: 100%;
  }

.image{
    display: block;
    width: 100%;    
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image:url(/img/mouse1.JPG);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 2s ease;
  }

.text {
    white-space: nowrap; 
    color: rgb(236, 236, 236);
    font-size: 20px;
    background-color: rgb(121, 131, 131);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .container:hover .overlay{
    width: 100%;
  }